.App {
  text-align: center;
}


.bg-dark{
  background-color: var(--color-bg-dark);
}

.text-dark{
  color: var(--color-text-dark);
}

.bg-ligth{
  background-color: var(--color-bg-ligth);
}

.text-ligth{
  color: var(--color-text-ligth);
}

.text-accent {color: #4169e1};

.nav-ligth, .footer-ligth{
  background-color: #4169e1;
}

.nav-dark, .footer-dark{
  background-color: #292929;
}
