*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --ball-radius: 40px;
  --ball-border-strocke: 4px;

  --color-primary: royalblue;
  --color-secondary: #c2185b;
  --color-accent: #fca311;

  --color-bg-dark: #292929;
  --color-text-dark: #fcfcfc;

  --color-bg-ligth: #fcfcfc;
  --color-text-ligth: #292929;
}

body {
  /* margin: 80px 40px 40px 40px; */
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}


a{
  text-decoration: none;
}

#root{
  width: 100%;
  min-height: 100vh;
}